@use "/app/lib/sass/vars"
@use "/app/lib/sass/mixins"

@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700;800&family=Inter:wght@400;500;700;800&display=swap')

:root 
  font-family: 'Inter'


* 
  box-sizing: border-box
  padding: 0
  margin: 0

html
  max-width: 100vw
  background-color: vars.$background_color
  font-size: 62.5%

body
  width: 100%

a 
  color: inherit
  text-decoration: none
  cursor: pointer

ul
  list-style: none
  text-transform: uppercase

h1
    font-size: vars.$fs_10
    font-weight: 600
    color: vars.$text_white
    letter-spacing: -.2px

h2
  @include mixins.heading_2

h3
  color: vars.$text_white
  font-weight: 500
  font-size: vars.$fs_4

h4
  @include mixins.navStyle
  font-size: vars.$fs_4
  font-weight: 400
  letter-spacing: .2px

p
  @include mixins.paragraph

button
  border: none
  cursor: pointer
  font-size: vars.$fs_6
  text-transform: uppercase
  font-weight: 600
  padding: vars.$sp_3 vars.$sp_4
  width: fit-content
  background-color: vars.$text_gray_light
  color: vars.$background_color
  border-radius: 8px
  transition: .3s
  border: 1px solid vars.$background_color
  &:hover
    color: vars.$color_teal
    background-color: vars.$background_color
    border: 1px solid vars.$color_teal

label
  @include mixins.heading_2

input
  height: 4rem

input, textarea
  background-color: vars.$text_gray_light
  border-radius: 5px
  border: none
  padding: vars.$sp_1 vars.$sp_2
  @include mixins.paragraph
  color: vars.$background_color

.section
  display: flex
  flex-direction: column
  gap: vars.$sp_10
  padding-top: vars.$sp_13

.section_items
  position: relative
  display: flex
  flex-direction: column
  gap: vars.$sp_10

  &:hover 
    .item
      opacity: 40%

  .item
    position: relative
    transition: .3s

    .item_inside_wrapper
      display: flex
      align-content: flex-start
      gap: vars.$sp_4
      width: 100%

    .item_image_wrapper
      flex-basis: 25%

    .item_image
      height: min-content
      width: 100%
      border: 1px solid rgba(226, 232, 240, 0.1)
      border-radius: 5px

      img 
        width: 100%
        height: 100%

    .item_icon 
      @include mixins.icon-styles
      align-self: flex-end

    .item_title
      display: flex
      gap: vars.$sp_1

    .content
      display: flex
      flex-direction: column
      gap: vars.$sp_4
      flex-basis: 75%

    h4
      margin-top: vars.$sp_1

    .item_overlay
      position: absolute
      top: 0
      left: 0
      width: calc( 100%  + 7rem )
      height: calc( 100%  + 4rem )
      background-color: rgba(255, 255, 255, .05)
      border-radius: 7px
      transform: translate(-3.5rem, -2.5rem)
      transition: .3s
      opacity: 0

    &:hover
      opacity: 100%

      .item_title h3, .item_icon
        color: vars.$color_teal
      .item_icon
        transform: translate(5px, -5px)
      .item_overlay
        opacity: 100
      .item_image
        border: 1px solid rgba(226, 232, 240, .4)
      
.admin-page-wrapper
  width: 60rem
  margin: 0 auto
  padding: 10rem 0
    