@use '/lib/sass/vars'

.header
  display: flex
  justify-content: space-between
  align-content: center
  width: 100%
  padding: vars.$sp_8
  border-bottom: 1px solid vars.$text_gray_light

  nav
    display: flex
    align-content: center
    flex-wrap: wrap

    ul
      display: flex
      gap: vars.$sp_8
    
      li
        color: vars.$text_gray_light
        font-size: vars.$fs_6
        transition: .3s
        
        a
          text-align: center

          &:hover, &.active
            color: vars.$color_teal

@media (max-width: vars.$breakpoint_small) 
  .header
    flex-direction: column
    align-content: center
    gap: vars.$sp_4

    nav
      justify-content: center

@media (max-width: vars.$breakpoint_xsmall) 
  .header
    padding: vars.$sp_5

    nav ul
      gap: vars.$sp_5
      
      li
        font-size: vars.$fs_3
    