@use '/app/lib/sass/vars'

.form
  display: flex
  flex-direction: column
  gap: vars.$sp_6

  div
    display: flex
    flex-direction: column
    gap: vars.$sp_3

  button
    align-self: center

@media (max-width: vars.$breakpoint_small) 
  .form
    h2
      font-size: vars.$fs_4

    label
      font-size: vars.$fs_4
