@use "/app/lib/sass/vars"

.flashlightWrapper
  position: relative
  width: 100%
  height: 100%

  .main_wrapper
    max-width: 128rem
    height: 100%
    margin: 0 auto
    display: flex
    justify-content: space-between
    gap: vars.$sp_4
    padding: 0 vars.$sp_12
  

@media (max-width: vars.$breakpoint_medium) 
  .flashlightWrapper .main_wrapper
    flex-direction: column
    gap: 0
    padding: 0 vars.$sp_10
    
  
@media (max-width: vars.$breakpoint_small) 
  .flashlightWrapper .main_wrapper
    padding: 0 vars.$sp_6